:host {
  display: block;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.hero {
  background-image: url(http://i.imgsafe.org/9866542.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 500px;
  position: relative;
}

.hero .content {
  padding-top: 10px;
}
.slogan {
  color: white;
  margin-top: 0px;
  display: inline-block;
  padding: 80px 50px 4px;
  box-shadow: 0px 1px #aeaeae;

}

.card-container {
  min-height: 600px;
}

.runner-cards-list {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

.runner-card {
  margin-bottom: 20px;
  position: relative;
  height: 317px;
  float: left;
}

.card-wrapper {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  width: 100%;
  height: 100%;
}

.runner-card .image {
  height: 178px;
  position: relative;
}

.runner-card .image img {
  max-width: 100%;
}

.runner-info {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.runner-info .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-height: 32px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  white-space: normal;
}
