<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>

<p>
  <a (click)="fetchCountries()">Get Runners</a>
</p>
<select [(ngModel)]="selected_country">
  <option> -- Select Country -- </option>
  <option *ngFor="#country of countries" >{{country}}</option>
</select>


<a (click)="fetchRunners()">Get Runners</a>

<ul>
  <li *ngFor="#runner of runners">
    {{runner.city}}|
    {{runner.name}}|
    <img src='{{runner.profileImg}}'>|
    <a href='{{runner.runnersProfile}}'>Link</a>
  </li>
</ul>

