<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>
<p>
  <a (click)="runnerListService.fetchCountries(true)">Get Runners</a>
</p>

<select [(ngModel)]="selected_country">
  <option> -- Select Country -- </option>
  <option *ngFor="#country of runnerListService.getCountries()" >{{country}}</option>
</select>


<a (click)="fetchRunners()">Get Runners</a>

<ul>
  <li *ngFor="#runner of runnerListService.getRunners(selected_country)">
    {{runner.city}}|
    {{runner.name}}|
    <img src='{{runner.profileImg}}'>|
    <a href='{{runner.runnersProfile}}'>Link</a>
  </li>
</ul>

