:host {
  border-color: rgba(225, 225, 225, 0.08);
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
  position: absolute;
  z-index: 1;
  top: 7px;
  width: 100%;
  padding-left: 30px;
  font-weight: 700;
}

nav a {
  color: white;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  padding: 15px 15px;
  font-size: 24px;
  text-decoration: none;
  outline: 0;
}

@media screen and (max-width: 480px) {
  :host {
    padding-left: 15px;
  }
}
